

@font-face {
    font-family:"Myriad Pro";
    font-style:normal;
    font-weight:normal;
    src : url(/Meals-on-Wheels/fonts/MyriadPro-Regular.otf);
    }
p {
    font-family: "Myriad Pro";
    color: #fefce7;

    line-height: 2;
}
a {
    color: #e68332;
    font-family: "Myriad Pro";

    line-height: 2;
}


.cascadia-mono-text {
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 1.75;
  font-size: 90%;
}


body{ 
    font-size:120%;
}
.link-button {
    font-family: "Myriad Pro";
    background-color:#fedb00;
    border:none;
    height: 40px;
    width: 100%;
    font-size:.9em;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    color: black;
    display: inline-block;
} 
.link-button:hover {
    opacity: 1;
    background-color: #ffa600;
}
.link-button:active {
    background-color: #ffa600;
}
.link-button-anchor {
    margin: 0 auto;
    width:50%;
    display: block;
    min-width: 450px;

}
.centered-box{
    margin: auto;
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10%;
}
.centered-box button {
    font-family: "Myriad Pro";
    border:none;
    height: 40px;
    width: 100%;
    font-size:.9em;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    color: black;
    display: inline-block;
    background-color:#fedb00;
    
} 
.centered-box button:hover {
    opacity: .8;
    background-color: #ffa600;

}
.centered-box button:active {
    background-color: #ffa600;
}
.glossary{
    font-family: "Myriad Pro";
    border:none;
    font-size:.9em;
    border-radius: 4px;
    transition: 0.3s;
    display: inline-block;
}

/* Style page content */

#main {
    transition: .5s;
    outline: 20px solid #fedb00;
    background-color:#1a1a1a;
    background-size: auto;
    padding-bottom: 2%;
    min-height: 100vh;
    
}
#driver-main {
    transition: .5s;
    background-color:#1a1a1a;
    outline: 20px solid #8052a1;
    background-size: auto;
    padding-bottom: 2%;
    min-height: 100vh;
}
#nav-main {
    transition: .5s;
    background-color:#1a1a1a;
    outline: 20px solid #63c6c3;
    background-size: auto;
    padding-bottom: 2%;
    min-height: 100vh;
}

.pdf {
    aspect-ratio: 8.5 / 11;
    width: 60vw;
    margin: 5% auto;
    max-width: 1000px;
    display: block;
}
.video {
    aspect-ratio: 16/  9;
    width: 70vw;
    margin: auto;
    max-width: 1000px;
    display: block;
    border: #fedb00 .5vw solid;
}


.title{
    margin: 0;
    margin-bottom: 10px;
    background: 100% url('../images/backgroudHQ.png');
    outline:#fedb00 solid 10px;
    text-align: center;
    padding: 6%;
    margin-top: .1em;
    font-size: 5em;
    color: #fedb00;
    line-height: 1;
}
.driver-title {
    color: #8052a1;
}
.nav-title {
    color: #63c6c3;
}

.subtitle{
    margin: 0;
    background: 100% url('../images/backgroudHQ.png');
    outline:#fedb00 solid 3px;
    text-align: center;
    padding: 2%;
    margin: 0;
    font-size: 2.5em;
    color: #fedb00;
    position: sticky;
    top: 1.2em;
    line-height: 1;
    z-index: 1;
    clear: both;
}
.subtitle-no-stick{
    margin: 3% 0 1%;
    background: 100% url('../images/backgroudHQ.png');
    outline:#fedb00 solid 3px;
    text-align: center;
    padding: 3%;
    font-size: 2.5em;
    color: #fedb00;
    line-height: 1;
    z-index: 1;
    clear: both;
}

.subtitle-2{
    margin: 0;
    padding-top: 25px;
    border:#fedb00 solid;
    border-width: 0 0 3px 0;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    font-size: 2em;
    color: #fedb00;
    display: block;
    clear: both;
    line-height: 1;
}
.subtitle-3 {
    margin: 0;
    border:#fedb00 solid;
    border-width: 0 0 1.5px 0;
    text-align: left;
    margin-left: 3%;
    width: 25%;
    font-size: 1.2em;
    color: #fedb00;
    display: block;
    clear: both;
    line-height: 1;
    padding-left: 1.5vw;
    margin-top: 5vw;
}
.subtitle-4 {
    margin: 0;
    border:#fedb00 solid;
    border-width: 0 0 2px 0;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    font-size: 1.4em;
    color: #fedb00;
    display: block;
    clear: both;
    line-height: 1;
    margin-top: 5vw;
}
.text{
    margin: 1% auto 3%;
    width: 85%;
    text-align: left;
    padding: 1%;
    clear: both;
}


.warnining-text{
    margin: 1% auto 3%;
    width: 80%;
    text-align: center;
    padding: 1%;
    clear: both;
    outline:#fedb00 solid 6px;
}
.short-text{
    margin: 1% auto 3%;
    width: 80%;
    text-align: center;
    padding: 1%;
    clear: both;
}

.side-image {
    display: block;
    margin: auto;
    padding-left: 2%;
    overflow: auto;
    width: 85%;   
}
.side-image img{
    float:right;
    height: 15vw;
}
.side-image iframe {
    float:right;
    width: 30vw;
    aspect-ratio: 16/  9;
    margin: auto;
    display: block;
    border: #fedb00 .5vw solid;
    z-index: 1;
}

.break {
    border: solid #fedb00 3px;
    border-width: 0 0 3px 0; 
    clear: both;
}
.hidden-break {
    clear: both;
}
.mobile-break {
    clear: both;
    display: none;
}



.mobile {
    display: none;
}
.desktop {
    display: inline;
}

/* TEXT Colors*/
.Accent-White {color:#fefce7 ;}
.Airstrike-Red {color:#c9442d ;}
.Support-Blue {color:#279ab6 ;}
.Democracy-Yellow {color:#fedb00 ;}
.Driver-Purple {color: #8052a1;}
.Teammate-Green {color:#34865b ;}
.Nav-Blue {color:#63c6c3 ;}


.header {
    position: sticky;
    top: 0;
    padding: 5px 10px;
    background-color: #1a1a1a;
    transition: 0.5s;
    outline:#fedb00 solid 4px;
    line-height: 1;
    z-index: 2;
}
.header a {
    text-decoration: none;
    font-size: 1.2em;
    color: #fedb00;
    padding:  inherit ;
    height: inherit;
    border-width: 0 4px 0 0;

    
}

.bar-button{
    margin: 3vh;
    z-index: 1;
    display: block;
    
}
.navbarstack{
    height: 5vw ;
    max-height: 36px;
}
.sidebar {
    height: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    background-color: #1a1a1a;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
    outline:#fedb00 solid 7px;
     
}
@keyframes slide {
    0%      {
      left:-250px;
      display: none;
    }
    100%    {
      left:0px;
      display:block;
    }
}
.slide, .slideAway {
    animation-name: slide;
    animation-timing-function:linear;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}
.slideAway {
    animation-direction:reverse;  
}
.hidden{
  display:none
}

.sidebar a {
    text-decoration: none;
    font-size: 25px;
    color: #fedb00;
    display: block;
    transition: 0.3s;
    padding: 8px 20px;
}

.sidebar a:hover {
  color: #ffa600;
}

.role-seat {
    width: 40vw;
    
}


.role-button {
    background:none;
    border:none;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: 0.3s;
    color: black;
    width: 40%;
    height: inherit;
    margin: 3px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
} 
.role-button:hover {
    opacity: .8;
}
.role-button p {
    color: #fedb00;
    font-size:2em;
    margin: 0;
}
.role-button img{
    width: 100%;
    display: block;
}


.levi-info {
    margin: 5%;
    overflow: auto;
}

.levi-info img{
    float:right;
    width: 50%;
}


.outline-img{
    border: #fedb00 .5vw solid;
}
.outline-img2{
    border: #fedb00 .5vw solid;
    width: 30vw;
}
.outline-img-white{
    border: #fefce7 .5vw solid;
}
.image-cluster{
   float: inline-start;
   width: 30vw;
   text-align: center;
   
}
.image-cluster img{
    border: #fedb00 .5vw solid;
   max-height: 20vw;
   max-width: 30vw;
   display: inline;
}

.image-cluster2{
   float: inline-start;
   width: 22vw;
   text-align: center;
   color: #fedb00;
   font-size: 1.6em;
   
}
.image-cluster2 img{
    border: #fedb00 .5vw solid;
   max-height: 20vw;
   max-width: 30vw;
   display: inline;
}

.loadout {
    display: block;
    margin: auto;
    padding-left: 2%;
    overflow: auto;   
}
.loadout img{
    float:right;
    height: 15vw;
}

.loadout-armor {
    display: inline;
    margin: auto;
    padding-left: 2%;
    overflow: auto; 
    float: left;
    text-align: center;
    width: 50%;
}

.gunner-loadout-armor .loadout-armor{
    width: 73%;
}




.loadout-armor-img {
    display: inline;
    margin: auto;
    overflow: auto; 
    float: right;
    text-align: center;
    font-family: "Myriad Pro";
    color: #fefce7;
    line-height: 1.2;
    font-size: 1em;
}

.loadout-armor-img img{
    height: 10vw;
    display: inline;
    
}


.sop-video {
    aspect-ratio: 16/  9;
    width: 20vw;
    margin: auto;
    display: block;
    border: #fedb00 .2vw solid;
    float: right;
}
.video-text {
    margin: 1% auto 3%;
    width: 90%;
    text-align: left;
    padding: 1%;
    clear: both;
    
}

#nav-sec, #drive-sec{
    display: none;
    
}



@media (max-width: 500px) {
    .text, .short-text,.video-text, .warnining-text, .levi-info{font-size: 80%;line-height: 1.7;}
    .link-button-anchor {width:100%;min-width: 0;}
    .link-button {border-radius: 0px;}
    .pdf {width: 100%;}
    .body {font-size: 100%;}
    .title {font-size: 1.8em;}
    .subtitle {font-size: 1.2em; top: 2em;}
    .subtitle-2{font-size: 1.1em; width: 80%;}
    .mobile {display: inline;}
    .desktop {display: none;}
    .subtitle-3{ width: 100%; margin-left: 0;}
    .header {font-size: .8em;}
    .glossary {font-size: .7em;}
    .side-image img{height: 25vw;}
    .side-image iframe{width: 100%;}
    .mobile-break {display: block;}
    .loadout{font-size: .6em; }
    .loadout-armor{width: 96%;font-size: .6em;}  
    .loadout img{height: 20vw;}
    .sop-video {float: none; width: 60%;}
    .gunner-loadout-armor .loadout-armor{ width: 66%;}
    .gunner-loadout-armor .loadout-armor-img{font-size: .7em;}
    .gunner-loadout-armor .loadout-armor-img img{height: 13vw;}
    .loadout-armor-img {font-size: .7em;}
    .loadout-armor-img img{height: 23vw;}
    .role-button p {font-size: 1em;}
    .levi-info img{float: none; width: 100%;}
}