

@font-face {
    font-family:"Myriad Pro";
    font-style:normal;
    font-weight:normal;
    src : url(../Fonts/MyriadPro-Regular.otf);
    }
    p {
        font-family: "Myriad Pro";
        color: #fefce7;
        font-size: 20px;
        overflow-wrap: break-word;
    }
.download-button {
    background-color:#fedb00;
    border:none;
    height: 40px;
    width:50vw;
    font-size:18px;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.15s,backgound-color 0.15s;
    color: black;
    display: inline-block;
    min-width: 500px;
    font-weight: lighter;
} 
.download-button:hover {
    opacity: .8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
}
.download-button:active {
    background-color: #fe8c00;
}
.download-button-anchor {
    margin-left: auto;
    margin-right: auto;
    width:50%;
    display: block;
    min-width: 500px;
    margin-top: 2%;
    margin-bottom: 2%;

}
body {
    background-image: url('../Images/backgroudHQ.png');
    background-size: 100%;
    background-clip: content-box;
    outline: 20px solid #fedb00;
  
}
.pdf {
    aspect-ratio: 8.5 / 11;
    width: 60vw;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    display: block;
}
.video {
    aspect-ratio: 16/  9;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    display: block;
    border-color: #fedb00;
    border-width: 7px;
    border-style: solid;
}
.text-div{
    margin: auto;
    width: 70%;
    text-align: center;
    padding: 2%;
}
.title{
    font-size: 80px;
    color: #fedb00;
}
.subtitle{
    font-size: 40px;
}