

@font-face {
    font-family:"Myriad Pro";
    font-style:normal;
    font-weight:normal;
    src : url(../fonts/MyriadPro-Regular.otf);
    }
p, a {
    font-family: "Myriad Pro";
    color: #fefce7;

    line-height: 2;
}
body{ 
    font-size:120%;
}
.download-button {
    background-color:#fedb00;
    border:none;
    height: 40px;
    width: 100%;
    font-size:.8em;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    color: black;
    display: inline-block;
} 
.download-button:hover {
    opacity: .8;
}
.download-button:active {
    background-color: #ffa600;
}
.download-button-anchor {
    margin: 2% auto;
    width:50%;
    display: block;
    min-width: 450px;

}
/* Style page content */

#main {
    transition: .5s;
    background-color:#1a1a1a;
    outline: 20px solid #fedb00;
    background-size: auto;
    padding-bottom: 2%;
    min-height: 100vh;
    
}

.pdf {
    aspect-ratio: 8.5 / 11;
    width: 60vw;
    margin: 5% auto;
    max-width: 1000px;
    display: block;
}
.video {
    aspect-ratio: 16/  9;
    width: 70vw;
    margin: auto;
    max-width: 1000px;
    display: block;
    border: #fedb00 .5vw solid;
}
.text{
    margin: 3% auto;
    width: 70%;
    text-align: center;
    padding: 1%;
}

.title{
    margin: 0;
    background: 100% url('../images/backgroudHQ.png');
    outline:#fedb00 solid 10px;
    text-align: center;
    padding: 7%;
    margin: 0;
    font-size: 5em;
    color: #fedb00;

}


.bar-button{
    margin: 3vh;
    z-index: 1;
    display: block;
    
}
.navbarstack{
    height: 5vw ;
    max-height: 36px;
}
.sidebar {
    height: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    background-color: #3c3b3d;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
    outline:#fedb00 solid 7px;
     
}
@keyframes slide {
    0%      {
      left:-250px;
      display: none;
    }
    100%    {
      left:0px;
      display:block;
    }
}
.slide, .slideAway {
    animation-name: slide;
    animation-timing-function:linear;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}
.slideAway {
    animation-direction:reverse;  
}
.hidden{
  display:none
}

.sidebar a {
    text-decoration: none;
    font-size: 25px;
    color: #fedb00;
    display: block;
    transition: 0.3s;
    padding: 8px 20px;
}

.sidebar a:hover {
  color: #ffa600;
}

.driver-title {
    color: #8052a1;
    outline-color: #8052a1;
}

#driver-main {
    transition: .5s;
    background-color:#1a1a1a;
    outline: 20px solid #8052a1;
    background-size: auto;
    padding-bottom: 2%;
    min-height: 100vh;
}




@media (max-width: 450px) {
    .download-button-anchor {width:100%;min-width: 0;}
    .download-button {border-radius: 0px;}
    .pdf {width: 100%;}
    .body {font-size: 100%;}
    .title {font-size: 2em;}

}