.role-button {
    background:none;
    border:none;

    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: 0.3s;
    color: black;
;
    display: inline-block;
    text-align: center;
} 
.role-button:hover {
    opacity: .8;
}
.role-button {
    width: 40%;
    height: inherit;
    margin: 3px;
    cursor: pointer;
}
.role-button p {
    color: #fedb00;
    font-size:2em;
    margin: 0;
}
.role-button img{
    width: 100%;
    display: block;
}
.centered-box{
    margin: auto;
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10%;
}
.centered-box button {
    font-family: "Myriad Pro";
    border:none;
    height: 40px;
    width: 100%;
    font-size:.9em;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    color: black;
    display: inline-block;
} 
.centered-box button:hover {
    opacity: .8;
}
.centered-box button:active {
    background-color: #ffa600;
}


.levi-info {
    margin: 5%;
    overflow: auto;
}

.levi-info img{
    float:right;
    width: 50%;
}

.loadout img{
    float:right;
    height: 15vw;
}
.outline-img{
    border: #fedb00 .5vw solid;
}
.outline-img2{
    border: #fedb00 .5vw solid;
    width: 30vw;
}
.outline-img-white{
    border: #fefce7 .5vw solid;
}
.image-cluster{
   float: inline-start;
   width: 30vw;
   text-align: center;
   
}
.image-cluster img{
    border: #fedb00 .5vw solid;
   max-height: 20vw;
   max-width: 30vw;
   display: inline;
}

.image-cluster2{
   float: inline-start;
   width: 22vw;
   text-align: center;
   color: #fedb00;
   font-size: 1.6em;
   
}
.image-cluster2 img{
    border: #fedb00 .5vw solid;
   max-height: 20vw;
   max-width: 30vw;
   display: inline;
}

.loadout {
    display: block;
    margin: auto;
    padding-left: 2%;
    overflow: auto;
    
}
.sop-video {
    aspect-ratio: 16/  9;
    width: 30vw;
    margin: auto;
    display: block;
    border: #fedb00 .2vw solid;
    float: right;
}
.video-text {
    margin: 1% auto 3%;
    width: 90%;
    text-align: left;
    padding: 1%;
    clear: both;
    
}

#nav-sec, #drive-sec{
    display: none;
    
}


@media (max-width: 500px) {
    .loadout {font-size: .6em; }  
    .loadout img{height: 20vw;}
    .sop-video {float: none; width: 70vw;}
}